<p id="notice"><%= notice %></p>
  <div class="panel panel-default">
  <% unless @profile == nil %>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4 text-center">
          <h3><%= @profile.first_name %> <%= @profile.last_name %></h3>
          <img id="profile-img" src="<%= @profile.profile_img %>" alt="" class="img-circle">
          <p><br>Member since: <%= current_user.created_at.strftime("%B %Y") %></p>
        </div>
        <div class="col-md-8">
          <h3>About Me</h3>
          <%= @profile.about_me.html_safe %>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <% if @profile.nil? %>
        <%= link_to new_profile_path do %>
        <%= fa_icon "plus" %> New Profile
        <%end %>
      <% end %>
      <%= link_to edit_profile_path(@profile), class: "btn btn-info" do %>
        <%= fa_icon "pencil" %>
      <% end %>
    </div>
  <% else %>
    <div class="panel-body text-center">
      <h2>Okay, first things first.</h2>
      <%= link_to new_profile_path(@profile), class: "btn btn-info" do %>
        <%= fa_icon "plus" %> Create Profile
      <% end %>
    </div>
  <% end %>
  </div>
