<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= nav_link_to 'MyPrayerTeam.org', root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="main-nav">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <%= nav_link_to "Home", user_path, {}, {:wrapper => 'li'} %>
        <% end %>
        <% unless user_signed_in? %>
          <%= nav_link_to "Home", root_path, {}, {:wrapper => 'li'} %>
          <%= nav_link_to 'About', about_path, {}, {:wrapper => 'li'} %>
        <% end %>
        <% if user_signed_in? %>
          <%= nav_link_to "My Profile", profiles_path, {}, {:wrapper => 'li'} %>
          <%= nav_link_to "My Team", team_path, {}, {:wrapper => 'li'} %>
          <%= nav_link_to "Answered", answered_path, {}, {:wrapper => 'li'} %>
        <% end %>
      </ul>
      <% if user_signed_in? %>
      <ul class="nav navbar-nav navbar-right">
        <%= nav_link_to "My Account", edit_user_registration_path, {}, {:wrapper => 'li'} %>
        <%= nav_link_to "Log out", destroy_user_session_path, {method: :delete}, {:wrapper => 'li'} %>
      </ul>
      <% end %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
