<p id="notice"><%= notice %></p>
<h1>
  Answered Prayer

</h1>

    <% @answered.each do |prayer| %>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <%= prayer.title %>
          <span class="pull-right"><%= fa_icon "calendar" %> <%= prayer.created_at.strftime("%A, %b %d, %Y") %></span>
        </div>
        <div class="panel-body">
          <%= prayer.description %>
        </div>
        <div class="panel-footer">
          <%= link_to edit_prayer_path(prayer), class: "btn btn-info" do %>
            <%= fa_icon "pencil" %>
          <% end %>
          <%= link_to prayer, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" do %>
            <%= fa_icon "trash" %>
          <% end %>
          <%= link_to prayer_path(prayer), class: "btn btn-default pull-right" do %>
            <%= fa_icon "comment" %> Comments
          <% end %>
        </div>
      </div>
    <% end %>
