  <% if !user_signed_in? %>
    <h1>Welcome to MyPrayerTeam.org</h1>
  <% end %>
  <% if user_signed_in? %>
    <h1>Welcome <%= current_user.email %>!</h1>
    <ul>
      <li><%= link_to 'Create Prayer Request', new_prayer_path %></li>
      <li><%= link_to 'Create Praise', new_prayer_path %></li>
      <li><%= link_to 'View/Update My Prayer Requests', prayers_path %></li>
      <li><%= link_to 'View/Update My Praises', praises_path %></li>
      <li>View My Prayer Team</li>
    </ul>
  <% else %>
  <p>
    <%= link_to "Log in", new_user_session_path, class: "" %>
    <%= link_to "Sign up", new_user_registration_path, class: "" %>
  </p>
  <% end %>
