<div class="row">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <h3>Recent Comments</h3>
          <hr>
          <ul class="media-list">
            <li class="media">
              <div class="media-left">
                <a href="#">
                  <img class="media-object img-circle" src="http://lorempixel.com/64/64/people/7" alt="profile-img">
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Kelly R.<br><small>11:45a, Tuesday, February 05, 2016</small></h4>
                Just prayed for you! Hang in there!
                <a href="#">View</a>
              </div>
            </li>
            <hr>
            <li class="media">
              <div class="media-left">
                <a href="#">
                  <img class="media-object img-circle" src="http://lorempixel.com/64/64/people/3" alt="profile-img">
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">James B.<br><small>11:45a, Tuesday, February 05, 2016</small></h4>
                A lectus alias varius itaque, porttitor odio curae eleifend hic nunc assumenda? Quae leo cursus totam! Exercitation, eius convallis nascetur.
                <a href="#">View</a>
              </div>
            </li>
            <hr>
            <li class="media">
              <div class="media-left">
                <a href="#">
                  <img class="media-object img-circle" src="http://lorempixel.com/64/64/people/1" alt="profile-img">
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Jess J.<br><small>11:45a, Tuesday, February 05, 2016</small></h4>
                Habitasse occaecati dignissim, eaque sint consequatur? Aperiam sapien! Labore massa harum exercitationem, odio cubilia ligula! Ad, sed habitasse scelerisque facilisi.
                <a href="#">View</a>
              </div>
            </li>
          </ul>
          <hr>
          <a href="#">View All</a>
        </div>
        <div class="col-md-6">
          <h3>Hey, <%= current_user.email %></h3>
          <hr>
          <p class="text-center">
            <%= link_to new_prayer_path, class: "btn btn-success" do %>
              <%= fa_icon "plus" %> Request
            <% end %>
          </p>
          <p class="center-block text-center">
            <%= link_to praises_path, class: "btn btn-info" do %>
              <%= fa_icon "eye" %> Praises
            <% end %>
            <img src="<%= @profile.profile_img %>" alt="Profile Picture" id="home-profile-img" class="img-circle img-responsive">
            <%= link_to new_praise_path, class: "btn btn-primary" do %>
              <%= fa_icon "plus" %> Praise
            <% end %>
          </p>
          <p class="text-center">
            <%= link_to prayers_path, class: "btn btn-warning" do %>
              <%= fa_icon "eye" %> Prayers
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
