<p id="notice"><%= notice %></p>

<h1>
  My Prayers
  <%= link_to new_prayer_path, class: "btn btn-success" do %>
    <%= fa_icon "plus" %>
  <% end %>
</h1>

    <% @prayers.each do |prayer| %>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <%= prayer.title %>
          <span class="pull-right"><%= fa_icon "calendar" %> <%= prayer.created_at.strftime("%A, %b %d, %Y") %></span>
        </div>
        <div class="panel-body">
          <%= prayer.description %>
        </div>
        <div class="panel-footer">
          <%= link_to edit_prayer_path(prayer), class: "btn btn-info" do %>
            <%= fa_icon "pencil" %>
          <% end %>
          <%= link_to prayer, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" do %>
            <%= fa_icon "trash" %>
          <% end %>
          <a href="#" class="btn btn-default pull-right"><i class="fa fa-comment"></i> Comments</a>
        </div>
      </div>
      <% unless prayer === @prayers.last %>
      <ul>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <% end %>
    <% end %>

<br>
