<p id="notice"><%= notice %></p>

<h1>Listing Praises</h1>

<table>
  <thead>
    <tr>
      <th>Created at</th>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @praises.each do |praise| %>
      <% if praise.user == current_user %>
        <tr>
          <td><%= praise.created_at.strftime("%A, %b %d, %Y") %></td>
          <td><%= praise.title %></td>
          <td><%= praise.description %></td>
          <td><%= link_to 'Show', praise %></td>
          <td><%= link_to 'Edit', edit_praise_path(praise) %></td>
          <td><%= link_to 'Destroy', praise, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Praise', new_praise_path %>
